* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
input,
button,
textarea {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

a:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

main {
  background-color: #f5e4c3;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search {
  width: 500px;
  height: 40px;
  font-size: 25px;
  padding-left: 6px;
  border-radius: 7px;
  border: 1px solid #34a7b2;
  background: transparent;
  color: #5b2e35;
  position: relative;
}

h1 {
  z-index: 999;
  color: #34a7b2;
  margin-bottom: 40px;
  font-family: 'Arial';
  font-size: 40px;
  font-weight: bold;
}
#form {
  z-index: 999;
  position: relative;
}
#button {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #34a7b2;
  font-size: 20px;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  cursor: pointer;
}

#background {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
