.Backdrop_root__1vPDA{position:fixed;overflow:hidden;background:var(--color-backdrop);z-index:100;width:100%;height:100%;top:0;left:0;right:0;bottom:0}.AdultPopup_backdrop__37da-{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center}.AdultPopup_wrapper__1bIQB{display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;position:relative;padding:10px 10px 40px;width:476px;background:var(--color-popup-bg);max-width:90%;z-index:10}.AdultPopup_close__P00Zz{margin-left:auto}.AdultPopup_icon__248pe{display:block;width:24px;height:24px}.AdultPopup_icon__248pe svg>path{fill:var(--color-popup-text)}.AdultPopup_title__1CzSL{margin:6px 0 40px;text-align:center;color:var(--color-popup-text)}@media(max-width:767px){.AdultPopup_title__1CzSL{margin-bottom:30px}}.AdultPopup_controls__vQuHQ{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center}.AdultPopup_controls__vQuHQ>button{--text-color:var(--color-popup-text);background-color:var(--color-button-bg);border-color:var(--color-popup-text);color:var(--text-color)}.AdultPopup_controls__vQuHQ>button+button{margin-left:20px}.Error_root__33vp2{-webkit-flex:1 1 auto;flex:1 1 auto;padding:30px 0;grid-template-rows:-webkit-min-content 1fr;grid-template-rows:min-content 1fr;width:100%}@media(min-width:768px){.Error_root__33vp2{grid-template-rows:1fr 1fr}}@media(min-width:1280px){.Error_root__33vp2{grid-template-rows:1fr}}.Error_info__3EGab{grid-column:1/5;grid-row:2;display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-align-items:center;align-items:center}@media(min-width:768px){.Error_info__3EGab{-webkit-flex:0 0 auto;flex:0 0 auto;grid-column:3/7}}@media(min-width:1280px){.Error_info__3EGab{-webkit-align-items:flex-start;align-items:flex-start;-webkit-justify-content:center;justify-content:center;grid-row:1;grid-column:1/7}}.Error_description__683Oy{margin-top:10px}@media(min-width:768px){.Error_description__683Oy{margin-top:20px}}.Error_description__683Oy,.Error_title__2MA1T{text-align:center}@media(min-width:1280px){.Error_description__683Oy,.Error_title__2MA1T{text-align:left}}.Error_img__2r-99{grid-row:1;grid-column:1/5;background-size:contain;background-repeat:no-repeat;margin:0 auto}@media(min-width:768px){.Error_img__2r-99{grid-column:3/7;margin:auto auto 0}}@media(min-width:1280px){.Error_img__2r-99{grid-row:1;grid-column:8/12;margin:auto}}.Error_button__3B9rA{margin-top:32px}@media(min-width:768px){.Error_button__3B9rA{margin-top:40px}}.Error_notFound__3Tkhr .Error_img__2r-99{background-image:var(--error-404-image);width:136px;height:208px}@media(min-width:768px){.Error_notFound__3Tkhr .Error_img__2r-99{width:210px;height:320px}}.Error_notFound__3Tkhr .Error_info__3EGab{margin-top:30px}@media(min-width:768px){.Error_notFound__3Tkhr .Error_info__3EGab{margin-top:60px}}@media(min-width:1280px){.Error_notFound__3Tkhr .Error_info__3EGab{margin:0}}.Error_internalServerError__1ptS4 .Error_img__2r-99{background-image:var(--error-500-image);width:244px;height:144px}@media(min-width:768px){.Error_internalServerError__1ptS4 .Error_img__2r-99{width:414px;height:246px}}.Error_internalServerError__1ptS4 .Error_info__3EGab{margin-top:40px}@media(min-width:768px){.Error_internalServerError__1ptS4 .Error_info__3EGab{margin-top:60px}}@media(min-width:1280px){.Error_internalServerError__1ptS4 .Error_info__3EGab{margin:0}}
.card {
  margin: 0 !important;
  width: 100%;
  max-width: 460px;
  padding: 25px;
  border-radius: 20px;
  border: 3px solid #5b2361;
  background-color: #c066ff;
  background: repeating-linear-gradient(45deg, #CE0071, #9B2766 10px, #860049 10px, #E73A98 20px);
  /* background: repeating-linear-gradient(45deg, #906CD7, #7746D7 10px, #2A0671 10px, #482A83 20px);
    background: repeating-linear-gradient(45deg, #FF9B73, #FF7640 10px, #A62F00 10px, #BF5930 20px);
    background: repeating-linear-gradient(45deg, #E73A98, #860049 10px, #9B2766 10px, #CE0071 20px);
    */
}

.card.spin-wrapper {
  padding: 25px;
  border: 3px solid #5b2361;
}

.card__instructions {
  color: #FFFFFF;
  font-size: 32px;
  max-width: 433px;
  text-align: center;
  margin: 0 auto 40px;
}

.card__instructions h1 {
  font-size: 30px;
}

.card__instructions span {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.card__instructions svg {
  width: 100%;
  height: 100%;
}

.card__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 3px solid #5b2361;
  overflow: hidden;
  background-color: #fff;
  background-image: url("../fonts/d70dd6a93f675c8172618a670cac34ed5ddecf78.svg");
}

.card__item {
  width: 25%;
  height: 112.5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in;
}

.card__item span {
  position: absolute;
}

.card__item svg {
  width: 72px;
  height: 72px;
}

.card__item .card__item__reload,
.card__item .card__item__sale {
  opacity: 0;
  z-index: 1;
}

.card__item__sale {
  position: relative;
  line-height: 0;
}

.card__item__sale p {
  font-family: 'Saira Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 17px;
  left: 15px;
}

.card__item.reload .card__item__reload {
  opacity: 1;
}

.card__item.reload .card__item__cover {
  opacity: 0;
}

.card__item.sale .card__item__sale {
  opacity: 1;
}

.card__item.sale .card__item__cover {
  opacity: 0;
}

.card__item.glow::after {
  content: '';
  position: absolute;
  display: block;
  width: 72px;
  height: 72px;
  top: 20px;
  z-index: -1;
  background: rgba(173, 250, 76, 0.72);
  filter: blur(10px);
}

.card__item:hover {
  transform: scale(1.2);
}

.card__item__sale-100,
.card__item__sale-50,
.card__item__sale-30 {
  display: none;
}

.card__item.sale-100 .card__item__sale-100 {
  display: block;
}

.card__item.sale-50 .card__item__sale-50 {
  display: block;
}

.card__item.sale-30 .card__item__sale-30 {
  display: block;
}

.card__item__sale .card__item__sale-100,
.card__item__sale .card__item__sale-50,
.card__item__sale .card__item__sale-30 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* style for Popup  */
.pop-up-window {
  top: 13%;
}

.pop-up-window .pop-up-text {
  margin-bottom: 20px !important;

}

.order_block {
  padding: 10px;
}

.input-roulette {
  -webkit-appearance: none;
}

@media only screen and (max-width: 425px) {
  .pop-up-heading {
    font-size: 34px;
  }

  .pop-up-window .pop-up-text {
    font-size: 18px;
  }

  .close-popup {
    right: 0;
    top: -70px;
  }
}

/*  */

@media only screen and (max-width: 425px) {
  .card__item svg {
    width: 52px;
    height: 52px;
  }

  .card__item {
    height: 90px;
  }

  .card__instructions {
    margin: 0 auto 10px;
  }

  .card__instructions h1 {
    font-size: 24px;
    margin-top: 0 !important;
  }

  .card__instructions span {
    width: 25px;
    height: 25px;
  }

  .card__item.glow::after {
    width: 52px;
    height: 52px;
  }

  .card__item__sale p {
    font-size: 20px;
    line-height: 20px;
    top: 16px;
    left: 8px;
  }

  .card__item__sale-30 {
    left: 50% !important;
  }
}

@media only screen and (max-width: 370px) {
  .card__item svg {
    width: 40px;
    height: 40px;
  }

  .card__item.glow::after {
    width: 40px;
    height: 40px;
    top: 20px;
  }

  .card__instructions h1 {
    font-size: 20px;
  }

  .card__item__sale p {
    font-size: 17px;
    line-height: 17px;
    top: 13px;
    left: 5px;
  }
}

input[name="phone"],
input[name="name"] {
  -webkit-appearance: none;
  border-radius: 0 !important;
  padding: 0 !important;
  padding-left: 5px !important;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 5px !important;
  box-shadow: 0px 4px 3px #242120 !important;
  padding: 10px 15px !important;
}

.order_block img {
  width: 40% !important;
}

@media only screen and (max-width: 580px),
only screen and (max-device-width: 580px) {
  .order_block img {
    width: 70% !important;
  }
}

@charset "UTF-8";

body {
  font-family: "Roboto", sans-serif !important;
}

.submit-roulette:hover {
  background: #bb0000;
  transition: background 0.3s;
}

.additional-form-fields {
  padding-left: 5px;
  height: 42px;
  margin-bottom: 10px;
}

#order_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#order_form input {
  display: flex;
}


.submit-roulette:active {
  transform: translateY(2px);
  box-shadow: none;
}

input[value="Получить бесплатно"],
.submit-roulette {
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 15px 0;
  outline: none;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 3px #242120;
  background: red;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

input[value="Получить бесплатно"]:hover {
  background: #bb0000 !important;
  transition: background 0.3s;
}

input[value="Получить бесплатно"]:active {
  transform: translateY(2px);
  box-shadow: none !important;
}

.input-roulette {
  padding-left: 5px;
  height: 42px;
  margin-bottom: 10px;
  width: auto !important;
}

input[placeholder="Ваше имя"],
input[placeholder="Ваш телефон"] {
  padding-left: 5px;
  height: 42px;
  margin-bottom: 10px;
}

.ruletka-p {
  text-indent: 0px;
  color: black;
  text-align: center !important;
  margin: 15px;
  line-height: 25px;
  font-weight: bold;
}

.ruletka-p h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.ruletka-a {
  color: #1697ce;
}

.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

.spin-wrapper .ruletka-p {
  margin-bottom: 15px;
}

.danger-text {
  color: red;
  font-weight: bold;
}

.wheel {
  width: 380px;
  height: 380px;
  margin: 0 auto;
  position: relative;
}

.wheel img {
  max-width: 100%;
  max-height: 100%;
}

.wheel-img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor-text {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  font: 16px Arial !important;
  line-height: 61px !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: white 0px -2px 0px inset, white 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  box-shadow: white 0px -2px 0px inset, white 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  background: white;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #eaeaea));
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, #eaeaea 100%);
  background: -o-radial-gradient(center, ellipse cover, white 0%, #eaeaea 100%);
  background: -webkit-radial-gradient(center, ellipse, white 0%, #eaeaea 100%);
  background: -o-radial-gradient(center, ellipse, white 0%, #eaeaea 100%);
  background: radial-gradient(ellipse at center, white 0%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#eaeaea", GradientType=1);
}

.order_block {
  display: none;
  text-align: center !important;
}

.order_block img {
  width: 20%;
}

.order_block h3 {
  font: bold 18px Arial !important;
  background: transparent;
}

#luckyshop_form,
#profit_form2,
#omni_form,
#everad_form,
#shakes_form,
#apilead_form,
#hp_form,
#p_hp_form,
#pw_hp_form,
#leadtrade_form,
#drcash_form,
#t_drcash_form,
#rocket_form,
#ad1_form,
#p_omni_form,
#m_leads,
#v_m_leads,
#kma_form,
#adbees_form,
#crm_form,
#leadgroup_form,
#leadbit_form,
#cpagetti_form,
#monsterleads_form,
#tl_form,
#adeptcpa_form,
#burg_tl_form,
#scpa_pw_ad1_form,
#scpa_pw_hp_form,
#scpa_pw_tl_form,
#scpa_pw_apilead_form,
#scpa_pw_leadtrade_form,
#scpa_pw_drcash_form,
#rekl_form,
#p_apilead_form,
#aff1_form,
#p_hp_form_test,
#p_rekl_form,
#static_omni_form,
#funcpa_form,
#ha9_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: bold;
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #ffffff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../fonts/cross_1.svg");
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer;
}

.pop-up-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center !important;
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: #71c341;
  color: white !important;
  border: medium none;
  cursor: pointer;
  outline: medium none;
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.pop-up-layer {
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  z-index: 99 !important;
}

.pop-up-layer-show {
  display: block;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0;
  right: 0px;
  margin: 0 auto;
  background-color: #71c341;
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor white white;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

.text_small {
  font-size: 0.5em !important;
  font-weight: normal !important;
}

@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px);
  }

  30% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pop-up-appear-before {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-up-button:hover {
  color: white !important;
  text-decoration: none !important;
}

@media all and (max-width: 520px) {
  .wheel {
    width: 260px !important;
    height: 260px !important;
  }

  .cursor-text {
    line-height: 45px !important;
    font-size: 12px !important;
  }
}

@media screen and (max-width: 520px) and (max-width: 345px) {
  .wheel {
    width: 250px !important;
    height: 250px !important;
  }

  .cursor-text {
    line-height: 40px !important;
    font-size: 11px !important;
  }
}

.card__item__sale p {
  margin-top: 0;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 5px !important;
  box-shadow: none !important;
  padding: 10px 15px !important;
}

.NavigationBar_navbarContainer__ud4NW {
      background: #f5f8fa;
}

/*# sourceMappingURL=main.css.map */