
.card {
    margin: 0 !important;
    width: 100%;
    max-width: 460px;
    padding: 25px;
    border-radius: 20px;
    border: 3px solid #5b2361;
    background-color: #c066ff;
    background: repeating-linear-gradient(45deg, #CE0071, #9B2766 10px, #860049 10px, #E73A98 20px);
    /* background: repeating-linear-gradient(45deg, #906CD7, #7746D7 10px, #2A0671 10px, #482A83 20px);
    background: repeating-linear-gradient(45deg, #FF9B73, #FF7640 10px, #A62F00 10px, #BF5930 20px);
    background: repeating-linear-gradient(45deg, #E73A98, #860049 10px, #9B2766 10px, #CE0071 20px);
    */
}

.card.spin-wrapper {
    padding: 25px;
    border: 3px solid #5b2361;
}

.card__instructions {
    color: #FFFFFF;
    font-size: 32px;
    max-width: 433px;
    text-align: center;
    margin: 0 auto 40px;
}

.card__instructions h1 {
    font-size: 30px;
}

.card__instructions span {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.card__instructions svg {
    width: 100%;
    height: 100%;
}

.card__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 3px solid #5b2361;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../fonts/d70dd6a93f675c8172618a670cac34ed5ddecf78.svg");
}

.card__item {
    width: 25%;
    height: 112.5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in;
}

.card__item span {
    position: absolute;
}

.card__item svg {
    width: 72px;
    height: 72px;
}

.card__item .card__item__reload,
.card__item .card__item__sale {
    opacity: 0;
    z-index: 1;
}

.card__item__sale {
    position: relative;
    line-height: 0;
}

.card__item__sale p {
    font-family: 'Saira Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 17px;
    left: 15px;
}

.card__item.reload .card__item__reload {
    opacity: 1;
}

.card__item.reload .card__item__cover {
    opacity: 0;
}

.card__item.sale .card__item__sale {
    opacity: 1;
}

.card__item.sale .card__item__cover {
    opacity: 0;
}

.card__item.glow::after {
    content: '';
    position: absolute;
    display: block;
    width: 72px;
    height: 72px;
    top: 20px;
    z-index: -1;
    background: rgba(173, 250, 76, 0.72);
    filter: blur(10px);
}

.card__item:hover {
    transform: scale(1.2);
}

.card__item__sale-100, .card__item__sale-50, .card__item__sale-30 {
    display: none;
}

.card__item.sale-100 .card__item__sale-100 {
    display: block;
}

.card__item.sale-50 .card__item__sale-50 {
    display: block;
}

.card__item.sale-30 .card__item__sale-30 {
    display: block;
}

.card__item__sale .card__item__sale-100,
.card__item__sale .card__item__sale-50,
.card__item__sale .card__item__sale-30 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* style for Popup  */
.pop-up-window {
    top: 13%;
}

.pop-up-window .pop-up-text {
    margin-bottom: 20px !important;

}

.order_block {
    padding: 10px;
}

.input-roulette {
    -webkit-appearance: none;
}

@media only screen and (max-width: 425px) {
    .pop-up-heading {
        font-size: 34px;
    }

    .pop-up-window .pop-up-text {
        font-size: 18px;
    }

    .close-popup {
        right: 0;
        top: -70px;
    }
}

/*  */

@media only screen and (max-width: 425px) {
    .card__item svg {
        width: 52px;
        height: 52px;
    }

    .card__item {
        height: 90px;
    }

    .card__instructions {
        margin: 0 auto 10px;
    }

    .card__instructions h1 {
        font-size: 24px;
        margin-top: 0 !important;
    }

    .card__instructions span {
        width: 25px;
        height: 25px;
    }

    .card__item.glow::after {
        width: 52px;
        height: 52px;
    }

    .card__item__sale p {
        font-size: 20px;
        line-height: 20px;
        top: 16px;
        left: 8px;
    }

    .card__item__sale-30 {
        left: 50% !important;
    }
}

@media only screen and (max-width: 370px) {
    .card__item svg {
        width: 40px;
        height: 40px;
    }

    .card__item.glow::after {
        width: 40px;
        height: 40px;
        top: 20px;
    }

    .card__instructions h1 {
        font-size: 20px;
    }

    .card__item__sale p {
        font-size: 17px;
        line-height: 17px;
        top: 13px;
        left: 5px;
    }
}

input[name="phone"], input[name="name"] {
    -webkit-appearance: none;
    border-radius: 0 !important;
    padding: 0 !important;
    padding-left: 5px !important;
}

button, input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 5px !important;
    box-shadow: 0px 4px 3px #242120 !important;
    padding: 10px 15px !important;
}

.order_block img {
    width: 40% !important;
}

@media only screen and (max-width: 580px), only screen and (max-device-width: 580px) {
    .order_block img {
        width: 70% !important;
    }
}

/*# sourceMappingURL=main.css.map */
